NODE-RedFlow.json
[{"id":"b474c96d.c02d98","type":"tab","label":"IBMIOT-UI","disabled":false,"info":""},{"id":"5fe2e2d.a060f1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca802061.a07ad","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"55625166.d404c","type":"ui_group","z":"","name":"Smart Agriculture Moisture","tab":"9ee42009.79154","order":1,"disp":true,"width":"6","collapse":false},{"id":"9ee42009.79154","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"15ddae35.44c562","type":"ui_group","z":"","name":"Smart Agriculture Humidity","tab":"9ee42009.79154","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea35b004.ca9c6","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"9ee42009.79154","order":3,"disp":true,"width":"6","collapse":false},{"id":"557f1242.f8770c","type":"ui_group","z":"","name":"Motor_ON","tab":"9ee42009.79154","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf4c8154.01e18","type":"ui_group","z":"","name":"Motor_Off","tab":"9ee42009.79154","order":5,"disp":true,"width":"6","collapse":false},{"id":"b65a8df9.32846","type":"ibmiot in","z":"b474c96d.c02d98","authentication":"apiKey","apiKey":"ca802061.a07ad","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":280,"wires":[["4f48bcde.23d5a4","dff11b29.265d68","2a2e0fdb.451c3"]]},{"id":"a3904be0.120b58","type":"debug","z":"b474c96d.c02d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":200,"wires":[]},{"id":"4f48bcde.23d5a4","type":"function","z":"b474c96d.c02d98","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["a3904be0.120b58","29450b50.7ea0f4"]]},{"id":"dff11b29.265d68","type":"function","z":"b474c96d.c02d98","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["a3904be0.120b58","7628d397.a4ebbc"]]},{"id":"2a2e0fdb.451c3","type":"function","z":"b474c96d.c02d98","name":"Soil_Temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["a3904be0.120b58","4d193cd.2da8ec4"]]},{"id":"29450b50.7ea0f4","type":"ui_gauge","z":"b474c96d.c02d98","name":"","group":"ea35b004.ca9c6","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"7628d397.a4ebbc","type":"ui_gauge","z":"b474c96d.c02d98","name":"","group":"15ddae35.44c562","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":280,"wires":[]},{"id":"4d193cd.2da8ec4","type":"ui_gauge","z":"b474c96d.c02d98","name":"","group":"55625166.d404c","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":100,"wires":[]},{"id":"ffc5ec17.d8fb7","type":"inject","z":"b474c96d.c02d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":130,"y":100,"wires":[["a5e17f1a.36423"]]},{"id":"a5e17f1a.36423","type":"http request","z":"b474c96d.c02d98","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Faridabad,IN&appid=9fef9fad7e7739bd847208148dcef082","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":100,"wires":[["a3904be0.120b58"]]},{"id":"5921318b.d9bd1","type":"ibmiot out","z":"b474c96d.c02d98","authentication":"apiKey","apiKey":"ca802061.a07ad","outputType":"cmd","deviceId":"Arduino","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":460,"wires":[]},{"id":"47f59cda.5140f4","type":"ui_button","z":"b474c96d.c02d98","name":"","group":"557f1242.f8770c","order":0,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":300,"y":440,"wires":[["5921318b.d9bd1"]]},{"id":"7a46ff14.9fdd8","type":"ui_button","z":"b474c96d.c02d98","name":"","group":"bf4c8154.01e18","order":0,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":310,"y":500,"wires":[["5921318b.d9bd1"]]}]